# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/

# Flask and Docker specific files
*.log
*.sqlite3

# IDE and editor folders
.vscode/
.idea/

# Dependency directories
node_modules/

# System files
.DS_Store
Thumbs.db

# Docker specific
docker-compose.override.yml

# terraform 
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
*.tfplan
